/*navigointi*/
 .topnav {
    text-align: center;
    background: #290733;
    text-align: center;
    padding: 15px;
  }

  .topnav a {
    color:white;
    padding: 15px 32px;
    font-family: Arial;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.4s;
  }

  .topnav a:hover {
    background-color: #efcefa;
    color: #290733;
  }

/*Dropdown menu*/
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: default;
  }

  .dropdown-menu {
    cursor: default;
  }

  .dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #efcefa;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    text-align: left;
  }

  .dropdown-two-content-one {
    display: none;
    background-color: white;
    position: absolute;
    left: 220px;
    top:0;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-two-content-two {
    display: none;
    background-color: white;
    position: absolute;
    top: 53px;
    left: 220px;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-two:hover .dropdown-two-content-one {
    display: block;
  }

  .dropdown-two:hover .dropdown-two-content-two {
    display: block;
  }

/*Sisältö*/
body {
  background-color: #f3eaf6;
}

.content {
  text-align: justify;
  margin: auto;
  font-family: arial;
  width: 400px;
}

.blogpost {
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  color: black;
  background-color: white;
  text-align: justify;
  font-family: arial;
  width: 500px;
}

/*blogiformaatti*/
.column {
  float: left;
  width: 32%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*miten tämän laatikon koko jäädytetään???*/
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  color: #290733;
}

/*mobiilioptimoija*/
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */